In [9]:
import os
import pandas as pd
import math

images = os.listdir("/root/sharedfolder/images")
legend = pd.read_csv("/root/sharedfolder/data/legend.csv")

In [16]:
images[1]

'Mireille_Jospin-Dandieu_0001.jpg'

In [22]:
legend[(legend.image == images[1])]

     user.id                             image  emotion
8912   dwdii  Mireille_Jospin-Dandieu_0001.jpg  neutral

[1 rows x 3 columns]

In [25]:
legend.image[8912]

'Mireille_Jospin-Dandieu_0001.jpg'

In [27]:
legend.emotion[8912]

'neutral'

In [28]:
legend.emotion.unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt', 'NEUTRAL', 'SADNESS', 'DISGUST', 'FEAR',
       'SURPRISE', 'ANGER', 'HAPPINESS'], dtype=object)

In [34]:
legend.emotion = legend['emotion'].str.lower()

In [35]:
legend.emotion.unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt'], dtype=object)

In [57]:
# get count of each emotion
anger = legend.emotion.value_counts()['anger']
surprise = legend.emotion.value_counts()['surprise']
disgust = legend.emotion.value_counts()['disgust']
fear = legend.emotion.value_counts()['fear']
neutral = legend.emotion.value_counts()['neutral']
happiness = legend.emotion.value_counts()['happiness']
sadness = legend.emotion.value_counts()['sadness']
contempt = legend.emotion.value_counts()['contempt']

In [70]:
legendcnt = pd.DataFrame({
        'emotion': legend.emotion.unique(),
        'emotioncount': (anger, surprise, disgust, fear,
                          neutral, happiness, sadness, contempt) })

In [71]:
legendcnt

     emotion  emotioncount
0      anger           252
1   surprise           368
2    disgust           208
3       fear            21
4    neutral          6868
5  happiness          5696
6    sadness           268
7   contempt             9

[8 rows x 2 columns]

In [72]:
# increase anger, surprise, disgust, fear, sadness, contempt 
# to 6000 each using transformations
legendcnt['trans'] = 0

In [73]:
legendcnt

     emotion  emotioncount  trans
0      anger           252      0
1   surprise           368      0
2    disgust           208      0
3       fear            21      0
4    neutral          6868      0
5  happiness          5696      0
6    sadness           268      0
7   contempt             9      0

[8 rows x 3 columns]

In [81]:
import math
legendcnt.trans[0] = math.ceil(6000/float(legendcnt.emotioncount[0]))
legendcnt.trans[1] = math.ceil(6000/float(legendcnt.emotioncount[1]))
legendcnt.trans[2] = math.ceil(6000/float(legendcnt.emotioncount[2]))
legendcnt.trans[3] = math.ceil(6000/float(legendcnt.emotioncount[3]))
legendcnt.trans[6] = math.ceil(6000/float(legendcnt.emotioncount[6]))
legendcnt.trans[7] = math.ceil(6000/float(legendcnt.emotioncount[7]))

In [82]:
legendcnt

     emotion  emotioncount  trans
0      anger           252     24
1   surprise           368     17
2    disgust           208     29
3       fear            21    286
4    neutral          6868      0
5  happiness          5696      0
6    sadness           268     23
7   contempt             9    667

[8 rows x 3 columns]

In [88]:
legendcnt['transcount'] = 0
legendcnt.transcount[0] = legendcnt.emotioncount[0] * legendcnt.trans[0]
legendcnt.transcount[1] = legendcnt.emotioncount[1] * legendcnt.trans[1]
legendcnt.transcount[2] = legendcnt.emotioncount[2] * legendcnt.trans[2]
legendcnt.transcount[3] = legendcnt.emotioncount[3] * legendcnt.trans[3]
legendcnt.transcount[4] = legendcnt.emotioncount[4]
legendcnt.transcount[5] = legendcnt.emotioncount[5]
legendcnt.transcount[6] = legendcnt.emotioncount[6] * legendcnt.trans[6]
legendcnt.transcount[7] = legendcnt.emotioncount[7] * legendcnt.trans[7]

In [89]:
legendcnt

     emotion  emotioncount  trans  transcount
0      anger           252     24        6048
1   surprise           368     17        6256
2    disgust           208     29        6032
3       fear            21    286        6006
4    neutral          6868      0        6868
5  happiness          5696      0        5696
6    sadness           268     23        6164
7   contempt             9    667        6003

[8 rows x 4 columns]

In [90]:
legendcnt.transcount.sum(axis=1)

49073